body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

canvas#tetris {
  border: solid .2em #fff;
  height: 87vh;
}

canvas#nextPiece {
  border: solid .2em #fff;
}